.header {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    background: #000;
    height: 80px;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 30px;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
}

.header-nav__item {
    list-style: none;
}

.header-nav__link {
    color: #FFF;
    text-decoration: none;
}

.header-nav__button {
    background: none;
    color: #FFF;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 850px) {
    .header {
        height: 60px;
    }

    .header_img {
        width: 80%;
    }

    .header-nav {
        gap: 10px;
        font-size: 20px;
    }

    .header-nav__button {
        font-size: 20px;
    }
}