body {
    background-color: #eee;
    min-height: 100vh;
    padding-bottom: 50px;
}

.container {
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        width: 80%;
    }
}

.title {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid #000;
    margin: 50px 0 30px 0;
}

.tag-group {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #000 ;
    margin-bottom: 30px;
}

.tag {
    padding: 10px 20px;
    cursor: pointer;
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 10px;
    line-height: 60px;
    padding: 0 20px 0 20px;
    margin-bottom: 30px;
}

.month__link {
    color: #737373;
    text-decoration: none;
}

.left-arrow {
    height: 15px;
    width: 20px;
    opacity: 30%;
}

.right-arrow{
    height: 15px;
    width: 20px;
    opacity: 30%;
    transform: rotate(180deg);
}

.calendar {
    height: 25px;
    width: 25px;
    vertical-align: text-top;
}

.this-month {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

.table {
    width: 100%;
    table-layout: fixed;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.table__header-group {
    color: #737373;
    border-bottom: 3px solid #E1E1E1;
    text-align: center;
}
.table__header {
    padding: 10px;
}

.table__description-group {
    color: #737373;
    border-bottom: 2px solid #E1E1E1;
    text-align: center;
}

.table__description {
    padding: 10px;
    font-weight: bold;
}

.description-link {
    text-decoration: none;
    color: #000000;
}